//Основные цвета текста
$text-main-color: #3f3f3f;
$text-white-color: #ffffff;
$table-rows-color: rgba(247, 241, 233, 0.5);

//Цвет фона
$bg-main-color: #2d3036;
$bg-thead-color: #faebd7;
$bg-notification-color: #f7f1e9;

//Цвета акцентов
$accent-blue-color: #61dafb;
$box-shadow-color: rgba(97, 218, 251, 0.3);

//Шрифт
$main-font-size: 14px;
$main-font: "Montserrat", sans-serif;

//Адаптив
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
